:root {
  --base-font-size: 12px;
}

html {
  font-size: var(--base-font-size);
}

body {
  font-family: "Open-sans", "Roboto", Tahoma, sans-serif;
  font-size: 1.7rem;
  text-align: center;
  color: darkred;
}

.first-letter {
  font-family: "Berkshire Swash", cursive, serif;
  font-size: 6.2rem;
  color: darkred;
  text-shadow: 
    -4px -0.6px 0 black,
    0px -0.5px 0 black,
    0.5px -0.5px 0 black,
    0.5px 0px 0 black,
    0.5px 0.5px 0 black,
    0px 0.5px 0 black,
    -0.5px 0.5px 0 black,
    -0.5px 0px 0 black;
}

.rest-of-name {
  font-family: "EB Garamond", serif;
  font-size: 6rem;
  font-weight: 600;
  color: darkred;
  text-shadow: 
    -3px -0.6px 0 black,
    0px -0.5px 0 black,
    0.5px -0.5px 0 black,
    0.5px 0px 0 black,
    0.5px 0.5px 0 black,
    0px 0.5px 0 black,
    -0.5px 0.5px 0 black,
    -0.5px 0px 0 black;
}

.former {
  font-family: "Chicle", serif;
  font-size: 2rem;
  font-weight: 300;
  font-style: italic;
}

#main {
  margin: 20px 6px;
  padding: 11px;
  border-radius: 6px;
  background: #2333;
}

.achievements {
  padding-left: 70px;
  padding-right: 70px;
}

.achievements-dates {
  font-size: 1.7rem;
  font-weight: 800;
  color: darkgoldenrod;
}

#list-header {
  font-size: 2rem;
  padding-bottom: 25px;
  font-weight: 500;
  font-style: italic;
}

a {
  color: #7865df;
}

a:visited {
  color: #665544;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
  border-radius: 6px;
  border-color: darkgoldenrod;
  border-style: solid;
}

#img-div {
  background: rgb(250, 248, 248);
  padding: 20px 20px 20px 20px;
  margin: 0;
  border-radius: 6px;
  border-color: darkgoldenrod;
  border-style: solid;
}

#img-caption {
  margin: 10px 05px 0;
  font-size: 15px;
}

#tribute-link {
  color: red;
}

#tribute-info {
  color: white;
  background: darkred;
  padding: 1px 20px 20px 20px;
  font-weight: 400;
  font-size: 1.8rem;
  border-radius: 6px;
  border-color: darkgoldenrod;
  border-style: solid;
}

ul {
  margin: 0px auto 50px auto;
  text-align: left;
  line-height: 1.6;
  padding-left: 30px;
  padding-right: 30px;
}

.list li {
  margin-bottom: 25px;
}

footer {
  padding-top: 30px;
}

@media (max-width:768px) {
  :root {
    --base-font-size: 11px; /* Reduce the font size for smaller screens */
  }

  h1 {
    font-size: 4rem;
  }

  .achievements {
    padding-left: 30px;
    padding-right: 10px;
  }

  #tribute-info {
    padding: 10px 10px 30px 10px;
  }
}

@media (max-width:460px) {
  :root {
    --base-font-size: 10px; /* Further reduce the font size for very small screens */
  }

  #main {
    margin: 0px;
  }

  .achievements {
    padding-left: 15px;
    padding-right: 10px;
  }

  #tribute-info {
    padding: 2px 10px 20px 10px;
  }
}  